@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<footer id="footer">
    <!--Footer-->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">0306191341 - Dương Trọng Nhân</p>
                <p class="pull-left">0306191339 - Nguyễn Thế Lực</p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->
